<div id="question-title"><%= @question.title %></div>
<br>
<div id="question-body"><%= @question.body %></div>

<ul class="answers">
<% @question.answers.each do|answer| %>
  <br>
  <%= render 'answers/answer', :answer => answer %>
  <br>
<% end %>
</ul>

<%= render partial: 'answers/inline_form' %>
